<ion-pane>
  <div ng-controller = "LoginController">

     <ion-content class="loginform" scroll="false">
      <center>
        <img src="img/favorslogo.png" class="logo">
              <img src="img/favorsname.png" class="logo">
            
      <div class="list">
        <label class="item item-input center">
          <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input center">
          <input type="text" placeholder="Last Name">
        </label>
        
        <br> 
        <button class="button button-positive">
         Don't have an account?
        </button>
        <button class="button button-positive">
         Sign in
        </button>

        </center>
      </div>
    </ion-content>
  </div>
</ion-pane>