 <ion-pane ng-controller="MainController">
  <ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">

        <ion-content scroll="false" has-header="true" class="top44 sidemenustyle">
                <header class="bar bar-header sidenavstyle">
            <div class="title">Menu</div>
        </header>
            <ul class="list">
                <a ui-sref="entry" class="item">Look for Jobs</a>
                <a ui-sref="main.home" class="item" ng-click="toggleMenu()">My jobs</a>
                <a ui-sref="main.tabs" class="item" ng-click="toggleMenu()">Set your preferences</a>
            </ul>
        </ion-content>
    </ion-side-menu>

  </ion-side-menus>
      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image" ng-controller="CardCtrl">
            <div class="no-text">NOPE</div>
            <img ng-src="{{card.image}}">
            <div class="yes-text">LIKE</div>
          </div>
        </td-card>
      </td-cards>
 </ion-pane>