<ion-pane ng-controller="MainCardsController">
  

    <div class="bar bar-header sidenavstyle">
      <button class="button button-positive" ng-click="goToHome()">
        Home
      </button>
      <h1 class="title">Search for Jobs</h1>
    </div>

    <ion-content class="loginform" scroll="false">
      <center>
      <div class="list">
        <label class="item item-input center">
          <input type="text" ng-model="tag" placeholder="Enter a tag for task">
        </label>
        <br> 
        <button class="button button-positive" ng-click="loginUser(email, password)">
         Sign in
        </button>
        </center>
      </div>
    </ion-content>


	     <td-cards>
              <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
              on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
              on-partial-swipe="cardPartialSwipe(amt)">
                  <div class="title">
                      <h1>{{card.title}}</h1>
                  </div>
                  <div class="image">
                      <div class="no-text overlayBox"><div class="noBox boxed">Trash</div></div>
                      <img ng-src="{{card.image}}">

                      <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Save</div></div>
                  </div>
                  <div>
                    <h1>Spots Available: {{card.spotsAvailable}}<h1>
                  </div>
              </td-card>
          </td-cards>
</ion-pane>

