<ion-pane ng-controller="MainPendingController">

 <div class="bar bar-header sidenavstyle">
    <button class="button icon-left ion-chevron-left button-clear button-positive" ng-click="goToHome()">
        Back
      </button>
      <h1 class="title">Job Requests</h1>
  </div>

	<br>
	<br>
	<div class="list card">
  <div class="item">
    <center><h1> Name of Job #1 created </h1></center>
  </div>

  <div class="item item-body">
     <li class="item item-checkbox item-checkbox-right">
       Applicant 1
       <label class="checkbox">
         <input type="checkbox">
       </label>
      </li>

       <li class="item item-checkbox item-checkbox-right">
       Applicant 2
       <label class="checkbox">
         <input type="checkbox">
       </label>
      </li>
    </div>
  </div>

    <div class="list card">
  <div class="item">
    <center><h1> Name of Job #2 created </h1></center>
  </div>

  <div class="item item-body">
     <li class="item item-checkbox item-checkbox-right">
       Applicant 3
       <label class="checkbox">
         <input type="checkbox">
       </label>
      </li>

       <li class="item item-checkbox item-checkbox-right">
       Applicant 4
       <label class="checkbox">
         <input type="checkbox">
       </label>
      </li>
    </div>
  </div>

</ion-pane>