.slider {
  height: 100%;
  text-align: center;
}

.scroll {
  height:100%;
}
.slider-slide {
  color: white;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

/* Empty. Add your own CSS if you like */
.slides {
  padding-top: 40px;
  background-color: #2C3E50;
  height: 100% !important;
  color: white !important;
  padding-top: 40px;
}

.slidecontent {
  padding-top: 50px;
  padding-bottom: 50px;
}

.box {
  height: 100% ;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background: #F5F9FC;
  position: absolute;
  bottom: 0px;
  z-index: 12;
}
.increment {
  width: 5%;
  height: 100%;
  background: #017AFD;
  transition: all .75s; }

.backgroundcolor {
  background-color: #2C3E50;
}

.logo {
  width: 52% !important;
}