

.slider {
  height: 100%;
  text-align: center;
}

.scroll {
  height:100%;
}

h1.form {
  color:white;
}
.slider-slide {
  color: white;
  background-color: #fff;
  text-align: center;

  font-family: 'GeosansLight', sans-serif;
  font-weight: 300;
}

.blue {
  background-color: blue;
}

.sidemenustyle {
  background: #446CB3;
  color:white;
}

.sidenavstyle {
  background: #446CB3;
  color:white;
}

.sidemenustyle h1, h2, h3, h4{
  font-family: 'GeosansLight', sans-serif;
  color:white;
}

.sidemenustyle a{
  font-family: 'GeosansLight', sans-serif;
  font-weight: 500;
  color: #446CB3;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

/* Empty. Add your own CSS if you like */
.slides {
  /*padding-top: 40px;*/
  background-color: #2C3E50;
  height: 100% !important;
  color: white !important;
  padding-top: 40px;
}

.top44 {
  padding-top:44px;
}
.pane {
  background-color: #2C3E50;
}

.loginform {
  height: 100% !important;
  background-color: #2C3E50;
  padding-top: 40px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.slidecontent {
  padding-bottom: 50px;
  color: white !important;
}

.slidecontent h1, h2, h3{
  color:white;
  font-family: 'GeosansLight', sans-serif;
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'GeosansLight';
}


.box {
  height: 100% ;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background: #2C3E50;
  position: absolute;
  bottom: 0px;
  z-index: 12;
}
.increment {
  width: 5%;
  height: 100%;
  background: orange;
  transition: all .75s; }

.backgroundcolor {
  background-color: #2C3E50;
}

.logo {
  width: 52% !important;
  padding-bottom: 20px;
}

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 300px;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
}
/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}