

.slider {
  height: 100%;
  text-align: center;
}

.scroll {
  height:100%;
}
.slider-slide {
  color: white;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

/* Empty. Add your own CSS if you like */
.slides {
  /*padding-top: 40px;*/
  background-color: #2C3E50;
  height: 100% !important;
  color: white !important;
  padding-top: 40px;
}

.loginform {
  height: 100% !important;
  background-color: #2C3E50;
  padding-top: 100px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.slidecontent {
  padding-bottom: 50px;
  color: white !important;
}

.slidecontent h1, h2, h3{
  color:white;
  font-family: 'GeosansLight', sans-serif;
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'GeosansLight';
}


.box {
  height: 100% ;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background: #2C3E50;
  position: absolute;
  bottom: 0px;
  z-index: 12;
}
.increment {
  width: 5%;
  height: 100%;
  background: orange;
  transition: all .75s; }

.backgroundcolor {
  background-color: #2C3E50;
}

.logo {
  width: 52% !important;
  padding-bottom: 20px;
}